

<div class="row">
  <div class="span3 offset0">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn" %>

    <% end %>
  </div>
</div>
<p>Alternatively, sign in with the following</p>
<a href="auth/facebook" class="auth_provider">
  <img src="<%= image_path('facebook.png') %>">Facebook</a>