<div class="blog">
  <div class="bloginfo"><%= blog.created_at.to_formatted_s(:long_ordinal)[0..-6] %><br>
    <% if signed_in? %>
      <% if current_user.admin? %>
        <%= link_to "delete", blog, method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to "edit", edit_blog_path(blog) %>
      <% end %>
    <% end %>
  </div>
  <div class="blogpost">
    <h2><%= link_to blog.title, blog_path(blog.id) %></h2>
    <p><%= blog.content.html_safe %></p><br>
    <%= link_to pluralize(blog.comments.count, 'comment'), blog_path(blog.id) %><br>
  </div>
</div>