<div id="newpost">
  <%= form_for(@blog) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <br>

    <%= f.label "Categories" %>
    <div id="tagboxes">
      <% Tag.all.each do |tag| %>
        <label>
          <%= check_box_tag "#{f.object_name}[tag_ids][]", tag.id, f.object.tags.include?(tag) %>
          <%= tag.category -%>
        </label>
      <% end %>
    </div>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <br>

    <%= f.submit "Post", class: "btn" %>

  <% end %>
</div>